# don't include these files
_find.drm
_todo.txt
check_ratelimit.py
gitinfo.log

# don't include these subfolders
__pycache__/
.cache/
.vscode/
archive/
backups/
data/
OSPO/
private/
reports/

# don't include microsoft-specific scripts
ms*.*
